.card{
    width: 12rem;
    display:inline-block;
    margin:20px;
    height:12rem;
}

.card-img {
    width: 12rem;
    height:8rem;
}

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;

}
