// sass-lint:disable no-important

/* ==========================================================================
   #Utility classes
   ========================================================================== */

/**
 * Any utility classes that aren't component specific. Each utility should
 * be as agnostic as possible, and do very little (relatively speaking).
 *
 * 1. The prefix that gets applied to every utility.
 *    Defaults to '.u-'.
 *
 *    Example use <div class="u-visually-hidden">Lorem ipsum dolor</div>
 */

$u-prefix: '.u-' !default; /* [1] */


/* Visually hide the content of an element.
   ========================================================================== */

/**
 * This renders the content invisible to browsers, but visible to
 * screen readers. Useful for any iconography, or images where text is not
 * imperative to the design, but impaired users should know what's on screen.
 */

#{$u-prefix}visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/**
 * Clear any floats. Place this class on the parent of the floated elements.
 */
#{$u-prefix}clearfix {
    @extend %clearfix;
}


/* Hide elements from view and screen-readers
   ========================================================================== */

/**
 * Hide elements both visually and from screen-readers at certain breakpoints.
 * Gives the option to hide an element when less than a breakpoint, or to hide
 * an element when greater than a breakpoint.
 *
 * Example: `<div class="u-hidden-large">` will hide the `<div>` when the
 *          window width is greater than the `large` breakpoint.
 *          `<div class="u-hidden-less-than-large">` will hide the `<div>`
 *          when the window width is less than the `large` breakpoint.
 */

@each $point, $value in $breakpoints {
    @if $value > 0 {
        #{$u-prefix}hidden-#{$point} {
            @include breakpoint(#{$point}) { display: none !important; }
        }

        #{$u-prefix}hidden-less-than-#{$point} {
            @include breakpoint(0, #{$point}) { display: none !important; }
        }
    }
}

// sass-lint:enable no-important
